html[data-theme="black"] {
    --text-color: #f0f0f0;
    --background-body: #000;
    --other-var: #111111;
}

html[data-theme="dark"] {
    --text-color: #f0f0f0;
    --background-body: #1c1c1c;
    --other-var: #111111;
}

html[data-theme="light"] {
    --text-color: #111111;
    --background-body: #fafafa;
    --other-var: #ffffff;
}

html[data-viewport="desktop"] {
    --hour-text-size: 96px;
}

html[data-viewport="mobile"] {
    --hour-text-size: 60px;
}

html[data-viewport="tablet"] {
    --hour-text-size: 24px;
}

body {
    color: var(--text-color);
    background-color: var(--background-body);
}
